.cache/
.clangd
CMakeLists.txt
compile_commands.json
.git/
.pio/
sdkconfig.esp32dev
.gitignore
managed_components/
sdkconfig.esp32dev
sdkconfig.test_motores
.idea/
telemetria_S.db-journal
telemetria_S.db
reporte_cppcheck.txt
clean_code.txt
strip_comments.py
_codeql_detected_source_root
